<section class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="h4 text-center bg-primary-lighter p-3">您的購物車</h1>
        <!--Cart Row-->
        <div class="cart-row d-flex flex-column flex-md-row py-3" *ngFor="let product of products ; let i = index">
  
          <div class="d-flex align-items-center flex-grow-1 mr-md-3">
            <div class="my-4 mr-4 flex-grow-1 flex-md-grow-0">
              <div class="cart-image" style="background-image: url( {{product.img}} )">
              </div>
            </div>
            <div class="d-flex align-items-md-center flex-column flex-md-row flex-md-grow-1">
              <div class="flex-fill mr-md-3">
                <span class="h5">{{ product.name }}</span><br>
                <span>{{ product.price | currency:'TWD'}}</span>
              </div>
              <div class="ml-md-auto mt-3 mt-md-0" style="width: 145px;">
                <div class="input-group carts-input-group">
                  <div class="input-group-prepend">
                    <button type="button" (click)="decreamentCounter(i)"
                      class="btn btn-brand-light text-primary-light material-icons text-base-size">remove</button>
                  </div>
                  <input type="text" class="form-control" value="{{counter[i]}}">
                  <div class="input-group-append">
                    <button type="button" (click)="increamentCounter(i)"
                      class="btn btn-brand-light text-primary-light material-icons text-base-size">add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="price ml-md-auto align-items-center py-3 justify-content-end d-flex flex-md-row-reverse">
            <button class="btn d-none d-md-block" (click)="onDelete(i)"><span
                class="material-icons">delete_outline</span></button>
            <span class="h5 mb-0 mr-md-3">{{product.price*counter[i] | currency:'TWD'}}</span>
          </div>
        <!--End of a cart row-->
        </div>
  
      </div>
      <div class="col-md-4">
        <div class="msg-box p-md-3">
          <h1 class="h4 text-center p-md-3 border-bottom">訂單摘要</h1>
          <div class="d-flex justify-content-between mb-2">
            <span>小計</span>
            <span>{{getTotal() | currency:'TWD'}}</span>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <span>運費</span>
            <span>{{getFee() | currency:'TWD'}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <strong>總計:</strong>
            <strong>{{getFee() + getTotal() | currency:'TWD'}}</strong>
          </div>
        </div>
        <button routerLink="./checkout" class="btn btn-lg btn-block" style="background-color: #FFE180;
            border-color: #FFE180;" (click)="sendData()">結帳</button>
      </div>
    </div>
  </section>
